/* 
####################################################
styles.css
----
By Nicole Lund 
####################################################
*/

body {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

.center {
    text-align: center;
}

.selection_container {
    display: flex;
    justify-content: center;
}